@charset "UTF-8";

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular' ;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    font-size: 16px;
    font-family: 'Roboto-Regular';
   
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}
main{
   max-width: 375px;
   background-color: white;
   color: #222741;
  
}

.imgMobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
    
}

.imgMobile{
    height: 200px;
    width: 100%;
    background-position: end;
    

}

article h1{
    font-family: 'Roboto-Bold';
    font-size: 40px;
    margin: 20px;
    color: #222741;
}

article p {
    margin: 20px;
}

ul li {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    height: 50px;
    margin-left: 20px;
}

ul li span {
    margin-left: 10px;
    
}


.erroEmail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.erro{
    display: none;
    margin-right: 20px;
    color: #FF784F;
}

.error::placeholder {
    color: red;
  }

form p {
    font-family: 'Roboto-Bold';
    color: #222741;
    margin-left: 20px;
    font-size: 12px;
}

.inputForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input, button {
    width: 90%;
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
    border: 1px solid gray;
    outline: 0;
}

button{
    background-color: #222741;
    color: white;
    border: none;
}

footer  {
    display: none;
}

.imgMobile2{
    display: none;
}

/* classList */
.orange-placeholder::placeholder {
    color:#FF784F;
  }

@media screen and (min-width: 762px) and (max-width: 1440px) {

    body{
        background-color: #373d5c;
    }

    #container{
        min-height: 100vh;
    }

    .imgMobile{
        display: none;
    }

    .imgMobile2 {
        display: block;
        flex-grow: 1;
        height: 100%;
      }

      .imgMobile2 img {
        height: 100%;
        object-fit: cover;
      }

    .divisor {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 20px;
        border-radius: 30px;
        margin: 10px;
        height: 380px;
      }

    article h1{
        font-size: 2.5em;
    }

    main{
        width: 100%;
        min-height: 100%;
        border: 1px solid black;
        padding: ;
    }

    ul li{
        height: 25px;
    }

    ul li img{
        width: 15px;
    }

    input, button {
        width: 80%;
        padding: 15px;
    }

    .inputForm {
        justify-content: flex-start;
        align-items: flex-start;
    }

    form p {
        font-size: 9px;
        padding-top: 15px;
    }

    button:hover{
        background-image: linear-gradient(to left,#FF784F, #FC517A  );
        border: none;
    
    }

}


    
    



